<h1>Oh lordy here be a word guessing game!</h1>
<p>trains are cool</p>
<p>
<%= form_for(Game.new) do |f| %>
  <%= f.submit "New Game" %>
<% end %>
</p>
<ul style="list-style-type:none">
  <% @games.each do |game| %>
    <li>
      <%= link_to game_name(game), game %>
    </li>
  <% end %>
</ul>
