// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: white;
  text-align: center;
  font-family: Verdana;
  background: #5C5C5C;
  margin: 0 25%;
}

h1 {
  font-family: Georgia;
  font-size: 250%;
}

ul {
  padding-left: 0;
  list-style: none;
}

a:link {
  text-decoration: none;
  color: lightgrey;
}

a:visited {
  color: lightgrey;
}

.guess_list {
  padding: 10px;
}

.new_guessed_letter {
  padding: 15px;
}

.scroll_pane {
  max-height: 500px;
  overflow-y: auto; 
  margin: 5px;
}

.floating_box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  background: #B3B3B3;
  -webkit-box-shadow: 5px 5px 1px 0 rgba(0,0,0,0.5) ;
  box-shadow: 5px 5px 1px 0 rgba(0,0,0,0.5) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
  padding: 20px;
  overflow: scroll;
  margin: 0 0 10px;
}

.obscured_word {
  font-size: 300%;
}

.games_stats {
  font-size: 80%;
}

.obscured_word_lose {
  font-size: 300%;
  color: #9a0000;
}

.correct_letter {
  color: green;
}

.wrong_letter {
  color: red;
}

.game_won_message {
  color: green;
}

.game_lost_message {
  color: #9a0000;
}

.game_won {
  color: #E8E8E8;
}

.game_lost {
  color: #9a0000;
}

.game_in_progress {
  color: blue;
}